/* button.css */

.btn-blue {
    text-align: center;
    position: relative;
    background-color: #282828;
    color: white;
    display: inline-block;
    padding: 15px 30px; /* Increase the padding to make the button bigger */
    border-radius: 5px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.btn-blue:hover {
    background-color: #b6b6b6be; /* Change the background color on hover */
}
